apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: alertmanager
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: monorepo
  path: ./platform/alertmanager
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: monitoring
    - name: authelia
