# Production values for tiny-screen-api
# Flux image setters will update these values automatically

image:
  pullPolicy: Always
replicaCount: 1
service:
  type: ClusterIP
  port: 80
  targetPort: 4567
ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: tiny-screen-api.lvs.me.uk
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tiny-screen-api-tls
      hosts:
        - tiny-screen-api.lvs.me.uk
env:
  - name: RACK_ENV
    value: production
resources:
  requests:
    cpu: "10m"
    memory: "10Mi"
  limits:
    cpu: "1"
    memory: "100Mi"
