apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: platform
resources:
  - helmrelease.yaml
configMapGenerator:
  - name: registry-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
