<% content_for :title, "Editing right type" %>

<h1>Editing right type</h1>

<%= render "form", right_type: @right_type %>

<br>

<div>
  <%= link_to "Show this right type", @right_type %> |
  <%= link_to "Back to right types", right_types_path %>
</div>
