<div id="<%= dom_id writer %>">
  <div>
    <strong>First name:</strong>
    <%= writer.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= writer.last_name %>
  </div>

  <div>
    <strong>Ip code:</strong>
    <%= writer.ip_code %>
  </div>

</div>
