# Production values for ruby-demo-app
# Flux image setters will update these values automatically

image:
  pullPolicy: Always
replicaCount: 2
service:
  type: ClusterIP
  port: 80
  targetPort: 4567
ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: applications-authelia-forwardauth@kubernetescrd
  hosts:
    - host: app.lvs.me.uk
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ruby-demo-app-tls
      hosts:
        - app.lvs.me.uk
env:
  - name: RACK_ENV
    value: production
  - name: DB_HOST
    value: postgresql.platform.svc.cluster.local
  - name: POSTGRES_PASSWORD
    valueFrom:
      secretKeyRef:
        name: ruby-app-postgresql
        key: ruby-password
resources:
  requests:
    cpu: "50m"
    memory: "256Mi"
  limits:
    cpu: "1"
    memory: "1Gi"
