replicaCount: 1

image:
  repository: registry.lvs.me.uk/vsmp-royalties
  pullPolicy: IfNotPresent
  tag: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: applications-authelia-forwardauth@kubernetescrd
  hosts:
    - host: royalties.lvs.me.uk
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: vsmp-royalties-tls
      hosts:
        - royalties.lvs.me.uk

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

readinessProbe:
  httpGet:
    path: /up
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10

livenessProbe:
  httpGet:
    path: /up
    port: http
  initialDelaySeconds: 30
  periodSeconds: 30

worker:
  enabled: false
  replicaCount: 1
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"
  terminationGracePeriodSeconds: 60
  env:
    - name: JOB_CONCURRENCY
      value: "1"

env: []
