<% content_for :title, "Imports" %>

<h1>CSV Imports</h1>

<p><%= link_to "Upload New CSV", new_import_path %></p>

<%= turbo_stream_from "imports" %>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Period</th>
      <th>Status</th>
      <th>Royalties</th>
      <th>Created</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody id="imports">
    <% @imports.each do |import| %>
      <%= render import %>
    <% end %>
  </tbody>
</table>

<% if @imports.empty? %>
  <p>No imports yet. <%= link_to "Upload your first CSV", new_import_path %>.</p>
<% end %>
